In [ ]:
sales_analysis.ipynb

In [1]:
import pandas as pd
import numpy as np
print("tools imported sucess!")

tools imported sucess!

In [2]:
df=pd.read_csv('sales_data.csv')
print("data upload sucess!")
print(f"æ•°æ®é›†å½¢çŠ¶ï¼š{df.shape}")

data upload sucess!
æ•°æ®é›†å½¢çŠ¶ï¼š(8, 7)

In [3]:
df.head()

   è®¢å•ID  äº§å“åç§°  æ•°é‡    å•ä»·        è®¢å•æ—¥æœŸ å®¢æˆ·ç±»å‹  åŸå¸‚
0  1001  è‹¹æœæ‰‹æœº   1  5999  2024-01-15  æ–°å®¢æˆ·  åŒ—äº¬
1  1002  åä¸ºè€³æœº   2   399  2024-01-15  è€å®¢æˆ·  ä¸Šæµ·
2  1003  å°ç±³æ‰‹ç¯   3   199  2024-01-16  æ–°å®¢æˆ·  å¹¿å·
3  1004  è‹¹æœæ‰‹æœº   1  5999  2024-01-17  è€å®¢æˆ·  åŒ—äº¬
4  1005  ä¸‰æ˜Ÿå¹³æ¿   1  3299  2024-01-18  æ–°å®¢æˆ·  æ·±åœ³

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è®¢å•ID    8 non-null      int64
 1   äº§å“åç§°    8 non-null      object
 2   æ•°é‡      8 non-null      int64
 3   å•ä»·      8 non-null      int64
 4   è®¢å•æ—¥æœŸ    8 non-null      object
 5   å®¢æˆ·ç±»å‹    8 non-null      object
 6   åŸå¸‚      8 non-null      object
dtypes: int64(3), object(4)
memory usage: 580.0+ bytes

In [5]:
df.describe()

             è®¢å•ID        æ•°é‡           å•ä»·
count     8.00000  8.000000     8.000000
mean   1004.50000  2.000000  2811.500000
std       2.44949  1.414214  2828.648087
min    1001.00000  1.000000   199.000000
25%    1002.75000  1.000000   349.000000
50%    1004.50000  1.500000  1849.000000
75%    1006.25000  2.250000  5999.000000
max    1008.00000  5.000000  5999.000000

In [6]:
# åˆ›å»ºé”€å”®é¢å­—æ®µ
df['é”€å”®é¢'] = df['æ•°é‡'] * df['å•ä»·']

# æ£€æŸ¥æ•°æ®
print("æ–°å¢é”€å”®é¢å­—æ®µåæ•°æ®é¢„è§ˆ:")
print(df.head())

print(f"\næ€»é”€å”®é¢: Â¥{df['é”€å”®é¢'].sum():,.2f}")

æ–°å¢é”€å”®é¢å­—æ®µåæ•°æ®é¢„è§ˆ:
   è®¢å•ID  äº§å“åç§°  æ•°é‡    å•ä»·        è®¢å•æ—¥æœŸ å®¢æˆ·ç±»å‹  åŸå¸‚   é”€å”®é¢
0  1001  è‹¹æœæ‰‹æœº   1  5999  2024-01-15  æ–°å®¢æˆ·  åŒ—äº¬  5999
1  1002  åä¸ºè€³æœº   2   399  2024-01-15  è€å®¢æˆ·  ä¸Šæµ·   798
2  1003  å°ç±³æ‰‹ç¯   3   199  2024-01-16  æ–°å®¢æˆ·  å¹¿å·   597
3  1004  è‹¹æœæ‰‹æœº   1  5999  2024-01-17  è€å®¢æˆ·  åŒ—äº¬  5999
4  1005  ä¸‰æ˜Ÿå¹³æ¿   1  3299  2024-01-18  æ–°å®¢æˆ·  æ·±åœ³  3299

æ€»é”€å”®é¢: Â¥30,084.00

In [7]:
df.head()

   è®¢å•ID  äº§å“åç§°  æ•°é‡    å•ä»·        è®¢å•æ—¥æœŸ å®¢æˆ·ç±»å‹  åŸå¸‚   é”€å”®é¢
0  1001  è‹¹æœæ‰‹æœº   1  5999  2024-01-15  æ–°å®¢æˆ·  åŒ—äº¬  5999
1  1002  åä¸ºè€³æœº   2   399  2024-01-15  è€å®¢æˆ·  ä¸Šæµ·   798
2  1003  å°ç±³æ‰‹ç¯   3   199  2024-01-16  æ–°å®¢æˆ·  å¹¿å·   597
3  1004  è‹¹æœæ‰‹æœº   1  5999  2024-01-17  è€å®¢æˆ·  åŒ—äº¬  5999
4  1005  ä¸‰æ˜Ÿå¹³æ¿   1  3299  2024-01-18  æ–°å®¢æˆ·  æ·±åœ³  3299

In [8]:
df.shape()

TypeError: 'tuple' object is not callable

In [9]:
df.shape

(8, 8)

In [10]:
new_customer_count = df[df['å®¢æˆ·ç±»å‹'] == 'æ–°å®¢æˆ·'].groupby('åŸå¸‚')['è®¢å•ID'].nunique()
print("å„åŸå¸‚æ–°å®¢æˆ·æ•°é‡ï¼š")
print(new_customer_count)

å„åŸå¸‚æ–°å®¢æˆ·æ•°é‡ï¼š
åŸå¸‚
åŒ—äº¬    1
å¹¿å·    2
æ·±åœ³    1
Name: è®¢å•ID, dtype: int64

In [11]:
city_metrics = df.groupby('åŸå¸‚').agg({
    'é”€å”®é¢': 'sum',
    'è®¢å•ID': 'nunique'
}).rename(columns={'è®¢å•ID': 'æ€»è®¢å•æ•°'})

city_metrics['å¹³å‡å®¢å•ä»·'] = city_metrics['é”€å”®é¢'] / city_metrics['æ€»è®¢å•æ•°']
print("\nå„åŸå¸‚å¹³å‡å®¢å•ä»·ï¼š")
print(city_metrics[['å¹³å‡å®¢å•ä»·']])

å„åŸå¸‚å¹³å‡å®¢å•ä»·ï¼š
          å¹³å‡å®¢å•ä»·
åŸå¸‚
ä¸Šæµ·   598.500000
åŒ—äº¬  7998.666667
å¹¿å·   796.000000
æ·±åœ³  3299.000000

In [12]:
# åˆ›å»ºå¼€åº—ä¼˜å…ˆçº§æ•°æ®
priority_df = pd.DataFrame({
    'æ–°å®¢æˆ·æ•°é‡': new_customer_count,
    'å¹³å‡å®¢å•ä»·': city_metrics['å¹³å‡å®¢å•ä»·']
})

# è®¡ç®—å¼€åº—ä¼˜å…ˆçº§ = æ–°å®¢æˆ·æ•°é‡ Ã— å¹³å‡å®¢å•ä»·
priority_df['å¼€åº—ä¼˜å…ˆçº§'] = priority_df['æ–°å®¢æˆ·æ•°é‡'] * priority_df['å¹³å‡å®¢å•ä»·']

# æŒ‰ä¼˜å…ˆçº§æ’åº
priority_df = priority_df.sort_values('å¼€åº—ä¼˜å…ˆçº§', ascending=False)

print("=== å¼€åº—ä¼˜å…ˆçº§åˆ†æ ===")
print(priority_df)

print(f"\nğŸ¯ æ¨èå¼€åº—åŸå¸‚ï¼š{priority_df.index[0]}")
print(f"   - æ–°å®¢æˆ·æ•°é‡ï¼š{priority_df.iloc[0]['æ–°å®¢æˆ·æ•°é‡']}ä¸ª")
print(f"   - å¹³å‡å®¢å•ä»·ï¼šÂ¥{priority_df.iloc[0]['å¹³å‡å®¢å•ä»·']:,.0f}")
print(f"   - ä¼˜å…ˆçº§åˆ†æ•°ï¼š{priority_df.iloc[0]['å¼€åº—ä¼˜å…ˆçº§']:.0f}")

=== å¼€åº—ä¼˜å…ˆçº§åˆ†æ ===
    æ–°å®¢æˆ·æ•°é‡        å¹³å‡å®¢å•ä»·        å¼€åº—ä¼˜å…ˆçº§
åŸå¸‚
åŒ—äº¬    1.0  7998.666667  7998.666667
æ·±åœ³    1.0  3299.000000  3299.000000
å¹¿å·    2.0   796.000000  1592.000000
ä¸Šæµ·    NaN   598.500000          NaN

ğŸ¯ æ¨èå¼€åº—åŸå¸‚ï¼šåŒ—äº¬
   - æ–°å®¢æˆ·æ•°é‡ï¼š1.0ä¸ª
   - å¹³å‡å®¢å•ä»·ï¼šÂ¥7,999
   - ä¼˜å…ˆçº§åˆ†æ•°ï¼š7999